//══════════════════════════════════════
//    				 PLACEHOLDERS
//══════════════════════════════════════

%base-styles {
  font-size: $base__font-size;
  font-family: $font-family--primary;
  font-weight: $font-weight--thin;
}

%header-base-style {
  color: darken($white, 5%);
  font-weight: $font-weight--thin;
}

%dashboard-h3 {
  color: darken($dove-gray, 5%);
  font-weight: $font-weight--medium;
  font-size: $base__font-size - 2;
  @include mq(tablet){
    font-size: $base__font-size;
  }
}

%user-icon {
  @extend %circle;
  vertical-align: middle;
  width: $base__font-size * 2;
  height: $base__font-size * 2;
}

%dashboard-h3-caps{
  @extend %dashboard-h3;
  text-transform: uppercase;
}

%nav-icons {
  width: 52px;
  fill: $spun-pearl;
  border: 3px solid $mulled-wine;
  height: 100%;
  @include row-spacing(null, null, 10px);
  @include column-spacing(null, null, 10px);
  &:hover {
    fill: $white;
    border-bottom: 3px solid $pastel-green;
  }
}

%form-focus {
  transition: box-shadow linear .5s;
  box-shadow: 1px 1px 3px $color-shadow;
}

%input-defaults {
  height: 35px;
  @extend %rounded-corners;
  @include column-spacing(null, null, 5px);
  border: $border--primary;
  background-image: url('../../icons/search-indicator-magnifying-glass.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 98% 50%;
  transition: box-shadow ease-out .5s;
  &::placeholder {
    color: darken($white, 35%);
    font-weight: $font-weight--thin;
    font-size: 10px;
    @include mq(landscape) {
      font-size: .7rem;
    }
  }
  &:focus {
    @extend %form-focus;
  }
  @include mq(tablet) {
    @include column-spacing(null, null, 10px);
    background-size: 14px 14px;
  }
}

%full-width {
  width: 100%;
}

%block-element {
  display: block;
}

%flex-element {
  display: flex;
}

%inline-block-element {
  display: inline-block;
}

%inline-flex-element {
  display: inline-flex;
}

%center-element {
  margin: 0 auto;
}

%center-text {
  text-align: center;
}

%button-inset {
  box-shadow: 0 0 3px 0 rgba($dove-gray, .8) inset;
}

%condensed {
  @include column-spacing(em(25px));
}

%rounded-corners {
  border-radius: $border--rounded-corners;
}

%circle {
  border-radius: $border--circle;
}

%image-presets {
  @extend %block-element;
  @extend %center-element;
  max-width: 100%;
}

%buttons {
  @extend %block-element;
  @extend %center-element;
  @extend %rounded-corners;
  @extend %center-text;
  @include row-spacing($margin-top: em(29px), $padding-top: em(16px));
  width: 95%;
  border: 0;
  color: $white;
  font-size: em(15px);
  font-weight: $font-weight--medium;
  text-transform: uppercase;
}

%heading-h1 {
  line-height: em(20px);
  font-size: em(32px);
  color: $color-primary;
}

%base-link-styles {
  @extend %full-width;
  text-decoration: none;
}


%content-link {
  @extend %base-link-styles;
  color: $color-primary;
  font-weight: $font-weight--medium;
}
