//══════════════════════════════════════
//              HEADER STYLES
//══════════════════════════════════════
header {
  background-color: $color-primary;
  @include row-spacing(null, null, 25px, 20px);
  @include column-spacing(null, null, 15px);
  @extend %header-base-style;
  @extend %center-text;
  @include mq(tablet) {
    text-align: left;
    position: relative;
    z-index: 100;
    @include column-spacing(null, null, 20px);
  }
  h3 {
    @include row-spacing(6px, 0);
    @extend %header-base-style;
    span {
      font-weight: $font-weight--ultra-bold;
      color: $white;
    }
    @include mq(tablet) {
      font-size: 1.4rem;
    }
  }
  .user-alert {
    @extend %flex-element;
    .bell-container {
      padding-right: 15px;
      @include flex-container(inline-flex, flex-end, $items: center);
      @extend %grow;
      &::after {
        content: "•";
        font-size: 22px;
        font-weight: $font-weight--ultra-bold;
        color: $pastel-green;
        position: relative;
        bottom: 22px;
        right: 5px;
        width: 0;
        height: 0;
      }
      &.hidden::after {
        content: none;
      }
      @include mq(tablet) {
        flex-grow: 0;
      }
      .bell {
        align-self: center;
        width: 1.3rem;
        height: 1.3rem;
        fill: $white;
        
      }
    }
    .active-user {
      border-left: 1px solid darken($color-primary, 5%);
      @extend %user-padding;
      @include mq(tablet) {
        flex-grow: 1;
        @include row-spacing(null, null, 5px);
      }
      img {
        @extend %user-icon;
      }
      .logged-in {
        @extend %user-padding;
      }
    }
  }
}
