//══════════════════════════════════════
//              NAVIGATION STYLES
//══════════════════════════════════════

.mobile-nav {
  background-color: $mulled-wine;
  @include column-spacing(null, null, 15px);
  @include mq(tablet) {
    @include column-spacing(null, null, 0);
    position: sticky;
    float: left;
    width: 75px;
    height: 100vh;
    padding-top: 5px;
    top: 0;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    div.grid__col--3 {
      flex-basis: 10%;
    }
  }
}

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
  @extend %nav-icons;
}

