//══════════════════════════════════════
//           DEFUALT STYLES
//══════════════════════════════════════

* {
	box-sizing: border-box;
}

html {
	background-image: url("../images/dust_scratches.png");
}

ul {
	list-style: none;
	padding: 0;
}